.navbar {
  background-color: #fdf9f3;
  .navbar-brand {
    border-radius: 5px;
    padding: 8px;
    background-color: black;
    color: white;
    font-weight: 700;
  }
}
.form-inline {
  margin-left: 350px;
}
